.laporan {
  .judul {
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    color: rgb(51, 51, 51);
    h1 {
      font-size: 22px;
      line-height: 22px;
      padding-bottom: 5px;
      font-family: achivo;
    }
    h2 {
      font-size: 17px;
      line-height: 17px;
      font-family: ubuntu-bold;
    }
    p {
      font-size: 14px;
      line-height: 14px;
      padding-top: 5px;
    }
  }
  .tabel {
    width: 100%;
    display: flex;
    padding: 7px 20px 0px 20px;
    .data {
      width: 100%;
      display: flex;
      background-color: #eee;
      .left-side {
        width: 50%;
        border-right: 1px solid grey;
        padding: 5px;
        .title {
          height: 40px;
          min-height: 40px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid grey;
          color: rgb(51, 51, 51);
          h1 {
            font-size: 17px;
            width: 100%;
            text-align: center;
            font-family: achivo;
          }
        }
        .sub-title {
          display: flex;
          align-items: center;
          border-bottom: 1px solid grey;
          height: 28px;
          min-height: 28px;
          margin-bottom: 7px;
          p {
            font-size: 15px;
          }
          .no {
            width: 60px;
            min-width: 60px;
          }
        }
        .content {
          width: 100%;
          .pendapatan {
            width: 100%;
            display: flex;
            border-bottom: 1px solid grey;
            padding-bottom: 8.5px; // 14-6-2026
            margin-bottom: 10px;
          }
          .biaya {
            width: 100%;
            display: flex;
            border-bottom: 1px solid grey;
            padding-bottom: 8.5px; // 14-6-2026
            margin-bottom: 10px;
          }
          .defisit {
            width: 100%;
            p {
              font-size: 17px;
              line-height: 20px;
              height: 40px;
              min-height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: ubuntu-bold;
            }
          }
          .no {
            width: 60px;
            min-width: 60px;
            p {
              font-weight: bold;
              font-size: 15px;
            }
          }
          .keterangan {
            width: 100%;
            .header {
              font-weight: bold;
              font-size: 13px;
              padding-bottom: 5px;
            }
            .items {
              font-size: 14px;
              padding: 5px;
            }
            .total-pendapatan,
            .total-biaya {
              font-weight: bold;
              font-size: 13px;
              text-align: right;
            }
            .pupuk {
              background-color: rgb(198, 238, 216);
            }
            .pupukSubsidi {
              background-color: rgb(198, 238, 216);
            }
            .obat-pertanian {
              background-color: rgb(198, 238, 216);
            }
            .honor {
              background-color: rgb(255, 212, 244);
            }
            .transport {
              background-color: rgb(255, 212, 244);
            }
            .lainnya {
              background-color: rgb(255, 212, 244);
            }
          }
        }
      }
      .right-side {
        width: 50%;
        border-right: 1px solid grey;
        padding: 5px;
        .title {
          height: 40px;
          min-height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid grey;
          color: rgb(51, 51, 51);
          h1 {
            font-size: 17px;
            width: 100%;
            text-align: center;
            font-family: achivo;
          }
        }
        .sub-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid grey;
          height: 28px;
          min-height: 28px;
          margin-bottom: 7px;
          p {
            font-size: 15px;
          }
        }
        .content {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .bulan-lalu,
          .bulan-ini,
          .bulan-depan {
            width: 33%;
            margin-top: 19px;
            p {
              font-size: 14px;
              padding: 5px;
            }
            .pupuk {
              background-color: rgb(198, 238, 216);
            }
            .pupukSubsidi {
              background-color: rgb(198, 238, 216);
            }
            .obat-pertanian {
              background-color: rgb(198, 238, 216);
            }

            .total-pendapatan,
            .total-biaya {
              font-weight: bold;
            }

            .content-spacer {
              width: 100%;
              height: 30px;
              min-height: 30px;
              // background-color: maroon;
              margin-top: 8px;
              border-top: 1px solid grey;
            }

            .honor {
              background-color: rgb(255, 212, 244);
            }
            .transport {
              background-color: rgb(255, 212, 244);
            }
            .lainnya {
              background-color: rgb(255, 212, 244);
            }
            .content-total {
              width: 100%;
              margin-top: 8px;
              padding-top: 20px;
              border-top: 1px solid grey;
              h1 {
                font-size: 15px;
              }
            }
          }
          .bulan-ini {
            p {
              text-align: center;
            }
            .content-total {
              h1 {
                text-align: center;
              }
            }
          }
          .bulan-depan {
            p {
              text-align: right;
            }
            .content-total {
              h1 {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  .laporan-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    .laporan-action {
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 10px;
      .spacer {
        width: 5px;
        min-width: 5px;
      }
      button {
        outline: none;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        height: 28px;
        min-height: 28px;
        width: 150px;
        min-width: 150px;
        border-radius: 14px;
        margin-right: 5px;
        &:hover {
          opacity: 0.9;
        }
        &:active {
          font-size: 13px;
        }
      }
    }
    .total-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      min-width: 500px;

      .total-form-label {
        text-align: right;
        font-size: 13px;
        height: 28px;
        min-height: 28px;
        line-height: 26px;
        font-family: ubuntu-bold;
        margin-left: 10px;
        display: flex;
        align-items: center;
        cursor: default;
        span {
          display: block;
          width: 10px;
          min-width: 10px;
          height: 10px;
          min-height: 10px;
          border-radius: 2px;
          margin-right: 3px;
        }
      }

      .total-form-trigger {
        background: none;
        color: rgb(97, 97, 97);
        font-size: 14px;
        line-height: 14px;
        margin-left: 3px;
        cursor: pointer;
        border: none;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .print-preview {
    width: 100%;
    height: 100%;

    // padding-bottom: 200px;
    zoom: 50%;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
    background-color: rgba($color: #000000, $alpha: 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    .print-preview-box {
      background-color: white;
      // width: 210mm;
      // min-width: 210mm;
      // height: 297mm;
      // min-height: 297mm;
      // padding: 20px 70px 20px 70px;
      // &::-webkit-scrollbar {
      //   width: 0px;
      // }
    }
  }
  .print-preview-active {
    visibility: visible;
    opacity: 1;
  }
}
