.operasional {
  .form-container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($color: #000000, $alpha: 0.5);
    form {
      -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
      background: white;
      border-radius: 7px;
      // padding: 10px;
      width: 280px;
      min-width: 280px;
      overflow: hidden;
      h1 {
        width: 100%;
        height: 28px;
        min-height: 28px;
        padding: 0px 10px 0px 10px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 10px;
        span:not(.form-title-indicator) {
          letter-spacing: 1px;
        }
        .form-title-indicator {
          display: flex;
          align-items: center;
          font-weight: normal;
        }
      }
      .form-group {
        padding: 0px 10px 0px 10px;
        label {
          display: block;
          font-size: 15px;
          padding-bottom: 5px;
        }
        textarea {
          outline: none;
          border: 1px solid grey;
          font-size: 15px;
          padding: 7px;
          border-radius: 4px;
          resize: none;
          height: 100px;
          min-height: 100px;
          width: 100%;
          margin-bottom: 7px;
        }
        input:not(input[type="radio"], input[type="checkbox"]) {
          width: 100%;
          font-size: 15px;
          padding: 0px 5px 0px 5px;
          outline: none;
          border-radius: 4px;
          height: 30px;
          min-height: 30px;
          border: 1px solid grey;
          margin-bottom: 7px;
        }
        input:is(input[type="checkbox"]) {
          cursor: pointer;
        }
        .update-timestamp-trigger {
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
        .operasional-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 10px;
          .operasional-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
              opacity: 0.7;
            }
            p {
              font-size: 14px;
              padding-left: 5px;
            }
          }
        }
        .timestamp-input {
          display: flex;
          align-items: center;
          visibility: hidden;
          height: 0px;
          opacity: 0;
          transition: 0.2s all ease;
          .spacer {
            display: block;
            width: 5px;
            min-width: 5px;
            height: 100%;
          }
        }
        .timestamp-input-active {
          visibility: visible;
          opacity: 1;
          height: 37px;
        }
        .timestamp-preview {
          display: block;
          height: 25px;
          min-height: 25px;
          line-height: 25px;
          padding: 0px 5px 0px 5px;
          background-color: rgb(240, 240, 240);
          font-size: 13px;
          text-align: center;
        }
      }
      .form-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 5px 10px;
        .spacer {
          display: block;
          width: 10px;
          min-width: 10px;
        }
        button {
          outline: none;
          border: none;
          cursor: pointer;
          font-size: 14px;
          width: 50%;
          height: 28px;
          min-height: 28px;
          background: none;
          border-bottom: 1px solid grey;
          &:hover,
          &:focus {
            opacity: 0.7;
          }
          &:active {
            font-size: 13px;
          }
        }
      }
    }
  }
  .form-container-active {
    visibility: visible;
    opacity: 1;
    padding-top: 0px;
  }
}
